* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
   
    color:white
  }
 
  main{
    /*max-widht: 100vh;*/
    display: flex;
    flex-direction: column;
    background-color: #000800;
  }
  .titulo{
    font-size: 100px;
    text-align: center;
    margin-bottom: 2rem;
 }
 .subtitulo{
  font-size: 50px;
  margin: 10px;
  margin-bottom: 2rem;

 }

  /* Paleta de colores: #008000;
                        #006200;
                        #004400;
                        #002600;
                        #000800*/
  
 