.barra {
  display: flex;
  padding:0;
  
}

.navbar-nav {
  /*background-color: #000800;*/
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  
}
#navbarNavDropdown{
  margin-right: 20px;
  justify-content: flex-end
}

#navbarNavDropdown a {
  display: flex;
  color: #008000;
  justify-items: right;

}
.nav-link:hover{
  color:rgb(181, 246, 181);
  text-decoration: underline; /* Aplica subrayado */
  font-weight: bold; /* Aplica negrita */
  }

.navbar.navbar-expand-lg.navbar-dark.bg-dark{ /*saca el borde(padding al navegador)*/
  padding:0;
  background-image: url("./Imagenes/Tarot/galaxia.jpg");
    
}  

.navbar-brand{ /* Margen del logo */
  margin: 0px 15px;
}

.container-fluid{ /*saca el borde de costado del navegador*/
  padding:0;
}

.parrafo {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}

.item-carta img {
  transition: transform 0.3s ease; /* Agrega transición lenta para el cambio de tamaño  */
}

.item-carta img:hover {
  transform: scale(1.05); /*la imagen se agranda un 5% */
   box-shadow: 10px 13px 14px grey;
}

#foto {
  margin-top: 10px;
  text-align: end;
}
.mapa{
  margin: 100px;
  border-style: solid;
  border: 5px #008000;
}
.pie{
  display: flex;
  /*margin:1rem;*/
  align-content: space-around;
  flex-flow: column wrap;
  width:100%;
 background-image: url("./Imagenes/Tarot/galaxia.jpg");
}
.redes {
  display: flex;
   /* Centra los elementos horizontalmente */
  margin-bottom: 5px; /*para separar los logos del copyright */
  font-size: 50px;
  justify-content: center;
  }
.redes  a{
  margin:20px 20px ; /*para que haya espacio entre los logos*/
}
.redes img{
  margin:0 700px 0 0;
  align-items: start;
}
.item-copyright p{
  display:flex;
  justify-content: center;
}
.container-grid{
  display:grid;
  margin: 30px;
  width: 95%;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  justify-content: space-between;

}

.container-grid div{
  text-align: center;
  border:5px solid white;
  border-radius: 20px;
}
.container-grid img{
   width: 100%;
  height: 300px;
}
 
.container-grid p{
  margin:1rem;
}

